



body { margin-bottom: 50px 
background-color: green;
}
a { font-family: "Open Sans", sans-serif }
.container { 
margin-top:0;
margin-bottom:0;
margin-left:300px;
margin-right:auto; 
max-width: 400px; 
padding: 0 30px;
}


.cont { 
margin-right: 0px;
padding-top: 20px;
}




  /* Свойства ссылок */
a {
  display: block;
  color: black;
  text-decoration:none;
  margin-bottom: 1.2em;     

}



  /* Что делать при наведении на ссылку */
a:hover {
  color: blue;
  transform: scale(1.5);
  margin-top:0;

max-width: 30px; 
    width: 2em;  
}

.section.second {
  margin-bottom: 40px; }
.section .cont {
  position: relative; }
  .section .cont:after {
    position: absolute;
    content: url(separator.png);
    left: 0px; }
  .section .cont h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative; }
    
 

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 100px;
  /* Радиус скругления */
  border: 3px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid yellow;
}
